<%= form_for @bebida, :html => { :class => "form-horizontal bebida" } do |f| %>

  <% if @bebida.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@bebida.errors.count, "error") %> prohibited this bebida from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @bebida.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :nome, :class => 'form-control' %>
    </div>
    <%=f.error_span(:nome) %>
  </div>
  <div class="form-group">
    <%= f.label :preco, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :preco, :class => 'form-control' %>
    </div>
    <%=f.error_span(:preco) %>
  </div>
  <div class="form-group">
    <%= f.label :litro, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :litro, :class => 'form-control' %>
    </div>
    <%=f.error_span(:litro) %>
  </div>
  <div class="form-group">
    <%= f.label :categoria, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= select("bebida", "categoria", ['Vodka', 'Whisky', 'Cerveja', 'Cachaça', 'Tequila', 'Licor', 'Vinho', 'Champagne'], {include_blank: true})%>
    </div>
    <%=f.error_span(:categoria) %>
  </div>
  <div class="form-group">
    <%= f.label :pais, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :pais, :class => 'form-control' %>
    </div>
    <%=f.error_span(:pais) %>
  </div>
  <div class="form-group">
    <%= f.label :descricao, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :descricao, :class => 'form-control' %>
    </div>
    <%=f.error_span(:descricao) %>
  </div>
    <div class="form-group">
    <%= f.label :Imagem, :class => 'control-label col-lg-2' %>
    <%= f.file_field :avatar %>
    </div>
    <%=f.error_span(:imagem) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                bebidas_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
