<h1>Sobre nós.</h1>
<p>Daniel Marques Rangel - 15/0008228</p>
<p>Filipe Miranda de Macedo - 15/0125518</p>
<p>Tema: Site de bebidas online desenvolvido com Ruby on Rails utilizando principalmente as gems: devise e twitter-bootstrap.
<p></p>
<p>Espaço destinado à login do administrador.</p>


<p><% if admin_signed_in? %>
<%= link_to "Sair", destroy_admin_session_path, method: :delete %>
<% else %>
<%= link_to "Login", admin_session_path %>            
<% end %>
</p>                    